# Compiled files
*.o
*.obj
*.exe
*.a
*.lib
*.so
*.dll
*.dylib
*.recipe
*.pdb
*.idb
*.tlog

# Temporary files
*.swp
*.tmp

# ==================================================================

# Build directories for recursion
Recursion/x64/
Recursion/Recursion/x64/
Recursion/.vs/

# Build directories for recursion exercise
RecursionExercises/RecursionExercises/x64/
RecursionExercises/RecursionExercises/RecursionExercises/x64/
RecursionExercises/RecursionExercises/.vs/

# ========================================================

# Build directories for recursion
Arrays/x64/
Arrays/Arrays/x64/
Arrays/.vs/

# ========================================================

# Build directories for Array ADT
ArrayADT/x64/
ArrayADT/ArrayADT/x64/
ArrayADT/.vs/

# ====================================================

# Build directories for Strings ADT
Strings/x64/
Strings/Strings/x64/
Strings/.vs/

# ====================================================

# Build directories for Matrices ADT
Matrices/x64/
Matrices/Matrices/x64/
Matrices/.vs/

# ====================================================

# IDE/Editor files
# *.sln

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log