# Compiled files
*.o
*.obj
*.exe
*.a
*.lib
*.so
*.dll
*.dylib
*.recipe
*.pdb
*.idb
*.tlog

# Temporary files
*.swp
*.tmp

# Build directories for recursion
Recursion/x64/
Recursion/Recursion/
Recursion/.vs/

# IDE/Editor files
*.sln
*.vcxproj
*.xcodeproj

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log